<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			.room {
				border: 1px solid grey;
				border-radius: 8px;
				margin-bottom: 8px;
				padding: 8px;
			}
			small {
				text-align: right;
				background-color: grey;
				padding: 4px 8px;
				border-radius: 4px;
				color: white;
			}
		</style>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
		<header>{% include 'navbar.html' %}</header>

		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li class="{{ message.tags }}">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}<br />
		{% block content %} {% endblock %}
	</body>
</html>
